## Data Analysis I

Lastly, we will answer the following questions using pandas methods: 

* What are the most popular colors by season?
* What is the most popular clothing item by season?
* What is the effect of promo-codes on the dollar-amount of purchases?
* When do users leave a review?
* Do states vary in the items they purchase in the Fall?

Utilize the documentation provided in each code-block. When you are done with this section of the project, validate that your output matches the screenshot provided in the `docs/part3.md` file and answer the questions located underneath `Data Analysis II` in your own words.

In [10]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

from scipy import stats

In [11]:
# TODO: load `data/processed/shopping_cleaned.csv` as a pandas dataframe

df = pd.read_csv("../data/processed/old_shopping_cleaned.csv")
df

,Age,Gender,Item Purchased,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Shipping Type,Promo Code Used,Previous Purchases,Payment Method
0,31.0,Male,Leggings,24.231704,Nevada,M,Terra cotta,Winter,Present,Standard,No,0,Credit Card
1,38.0,Male,Sunglasses,36.545487,Oregon,S,Aubergine,Summer,Missing,Standard,No,0,Credit Card
2,26.0,Male,Leggings,23.595139,Nevada,XL,Brown,Winter,Missing,Standard,No,3,Credit Card
3,43.0,Male,Dress,34.079015,California,M,Terra cotta,Fall,Present,Standard,No,0,Credit Card
4,29.0,Male,Shorts,23.796439,Minnesota,M,Lavender,Summer,Present,Express,No,0,Credit Card
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3153,39.0,Male,Running Shoes,55.636680,Kansas,L,White,Summer,Missing,2-Day Shipping,Yes,11,Venmo
3154,43.0,Female,Sunglasses,61.610602,Colorado,S,Burnt orange,Fall,Missing,2-Day Shipping,Yes,7,Venmo
3155,37.0,Male,Pajamas,44.600556,Alaska,S,Aubergine,Winter,Present,2-Day Shipping,Yes,20,Venmo
3156,39.0,Male,Hoodie,45.343778,Illinois,S,Brick red,Fall,Missing,2-Day Shipping,Yes,3,Venmo
3157,21.0,Female,Gloves,49.439181,North Dakota,M,Aubergine,Winter,Present,2-Day Shipping,Yes,2,Venmo

In [13]:
# TODO: Create a dataframe pivot table where "Season" is your column, "Color" is your index, and "Location" is your value (this value is arbitrary)
# use the len function as the "aggfunc" parameter.
# Save this pivot table to a new variable
# Documentation: https://pandas.pydata.org/docs/reference/api/pandas.pivot_table.html

table = pd.pivot_table(df, values="Location", index=["Color"], columns= ["Season"], aggfunc=len)
table

Season                Fall  Spring  Summer  Winter
Color
Aubergine               83       2      13     111
Baby blue               16      69      84      21
Black                   84       5       9     124
Brick red               88       7      12     110
Brown                   97       5       3      89
Burnt orange            93       4       5     112
Fuchsia                  3      45      78      18
Lavender                13      55     102       6
Lemon yellow             9      47      98      13
Mauve                   86       5       7      95
Muted mustard yellow    84       8      13      87
Pale peach               9      52      81      15
Periwinkle               9      54      82       8
Ruby Red                90       3       8     107
Terra cotta             91       4      15     101
Turquoise                7      49      74      16
White                   10      63      81      11

In [16]:
# TODO: Display this pivot table

table

Season                Fall  Spring  Summer  Winter
Color
Aubergine               83       2      13     111
Baby blue               16      69      84      21
Black                   84       5       9     124
Brick red               88       7      12     110
Brown                   97       5       3      89
Burnt orange            93       4       5     112
Fuchsia                  3      45      78      18
Lavender                13      55     102       6
Lemon yellow             9      47      98      13
Mauve                   86       5       7      95
Muted mustard yellow    84       8      13      87
Pale peach               9      52      81      15
Periwinkle               9      54      82       8
Ruby Red                90       3       8     107
Terra cotta             91       4      15     101
Turquoise                7      49      74      16
White                   10      63      81      11

In [21]:
# TODO: Select the "Fall" column from this pivot table and display the sort order in descending order
# Documentation: https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.sort_values.html

fall_des = table.sort_values(by="Fall", ascending=False)
fall_des

Season                Fall  Spring  Summer  Winter
Color
Brown                   97       5       3      89
Burnt orange            93       4       5     112
Terra cotta             91       4      15     101
Ruby Red                90       3       8     107
Brick red               88       7      12     110
Mauve                   86       5       7      95
Black                   84       5       9     124
Muted mustard yellow    84       8      13      87
Aubergine               83       2      13     111
Baby blue               16      69      84      21
Lavender                13      55     102       6
White                   10      63      81      11
Periwinkle               9      54      82       8
Pale peach               9      52      81      15
Lemon yellow             9      47      98      13
Turquoise                7      49      74      16
Fuchsia                  3      45      78      18

In [22]:
# TODO: Select the "Winter" column from this pivot table and display the sort order in descending order

winter_des = table.sort_values(by="Winter", ascending=False)
winter_des

Season                Fall  Spring  Summer  Winter
Color
Black                   84       5       9     124
Burnt orange            93       4       5     112
Aubergine               83       2      13     111
Brick red               88       7      12     110
Ruby Red                90       3       8     107
Terra cotta             91       4      15     101
Mauve                   86       5       7      95
Brown                   97       5       3      89
Muted mustard yellow    84       8      13      87
Baby blue               16      69      84      21
Fuchsia                  3      45      78      18
Turquoise                7      49      74      16
Pale peach               9      52      81      15
Lemon yellow             9      47      98      13
White                   10      63      81      11
Periwinkle               9      54      82       8
Lavender                13      55     102       6

In [24]:
# TODO: Select the "Spring" column from this pivot table and display the sort order in descending order

spring_des = table.sort_values(by="Spring", ascending=False)
spring_des

Season                Fall  Spring  Summer  Winter
Color
Baby blue               16      69      84      21
White                   10      63      81      11
Lavender                13      55     102       6
Periwinkle               9      54      82       8
Pale peach               9      52      81      15
Turquoise                7      49      74      16
Lemon yellow             9      47      98      13
Fuchsia                  3      45      78      18
Muted mustard yellow    84       8      13      87
Brick red               88       7      12     110
Mauve                   86       5       7      95
Brown                   97       5       3      89
Black                   84       5       9     124
Burnt orange            93       4       5     112
Terra cotta             91       4      15     101
Ruby Red                90       3       8     107
Aubergine               83       2      13     111

In [25]:
# TODO: Select the "Summer" column from this pivot table and display the sort order in descending order

summer_des = table.sort_values(by="Summer", ascending=False)
summer_des

Season                Fall  Spring  Summer  Winter
Color
Lavender                13      55     102       6
Lemon yellow             9      47      98      13
Baby blue               16      69      84      21
Periwinkle               9      54      82       8
Pale peach               9      52      81      15
White                   10      63      81      11
Fuchsia                  3      45      78      18
Turquoise                7      49      74      16
Terra cotta             91       4      15     101
Muted mustard yellow    84       8      13      87
Aubergine               83       2      13     111
Brick red               88       7      12     110
Black                   84       5       9     124
Ruby Red                90       3       8     107
Mauve                   86       5       7      95
Burnt orange            93       4       5     112
Brown                   97       5       3      89

In [32]:
# TODO: Using the "idmax" method, get the index with the maximum value for each column
# Documentation: https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.idxmax.html

table.idxmax(axis="columns")

Color
Aubergine               Winter
Baby blue               Summer
Black                   Winter
Brick red               Winter
Brown                     Fall
Burnt orange            Winter
Fuchsia                 Summer
Lavender                Summer
Lemon yellow            Summer
Mauve                   Winter
Muted mustard yellow    Winter
Pale peach              Summer
Periwinkle              Summer
Ruby Red                Winter
Terra cotta             Winter
Turquoise               Summer
White                   Summer
dtype: object

In [29]:
# TODO: Create a dataframe pivot table where "Season" is your column, "Item Purchased" is your index, and "Location" is your value (this value is arbitrary)
# use the len function as the "aggfunc" parameter.
# Save this pivot table to a new variable and display it

pv_table = pd.pivot_table(df, values="Location", index=["Item Purchased"], columns= ["Season"], aggfunc=len)
pv_table

Season          Fall  Spring  Summer  Winter
Item Purchased
Backpack        72.0     NaN     NaN   113.0
Belt            25.0     NaN     NaN     NaN
Boots           51.0     NaN     NaN    83.0
Dress           36.0    74.0   118.0     NaN
Gloves          68.0     NaN     NaN   112.0
Handbag         31.0    78.0   111.0     NaN
Hoodie          58.0     NaN     NaN   105.0
Jacket          47.0     NaN     NaN    87.0
Jeans           46.0     NaN     NaN     NaN
Leggings        58.0     NaN     NaN   118.0
Pajamas         65.0     NaN     NaN   111.0
Running Shoes   25.0    89.0   134.0     NaN
Scarf           56.0     NaN     NaN   101.0
Shorts          31.0    76.0   152.0     NaN
Socks           71.0     NaN     NaN   101.0
Sunglasses      43.0    80.0   135.0     NaN
Sweater         72.0     NaN     NaN   113.0
T-shirt         17.0    80.0   115.0     NaN

In [31]:
# TODO: Using the "idmax" method, get the index with the maximum value for each column on the pivot table containing clothing items & season
# Documentation: https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.idxmax.html

pv_table.idxmax(axis="columns")

Item Purchased
Backpack         Winter
Belt               Fall
Boots            Winter
Dress            Summer
Gloves           Winter
Handbag          Summer
Hoodie           Winter
Jacket           Winter
Jeans              Fall
Leggings         Winter
Pajamas          Winter
Running Shoes    Summer
Scarf            Winter
Shorts           Summer
Socks            Winter
Sunglasses       Summer
Sweater          Winter
T-shirt          Summer
dtype: object

In [36]:
# TODO: Create two data-frames for promo-code users and non-promo-code users using boolean indexing
# Save these two dataframes into seperate variables 
# Documentation: https://pandas.pydata.org/docs/user_guide/indexing.html#boolean-indexing
# Hint: Users that have used a promo code have the value "Yes" in the column "Promo Code Used"

df_is_promo = df(column = ["Promo Code Used"])

TypeError: where() got an unexpected keyword argument 'column'

In [ ]:
# TODO: Print the shape of the promo code users dataframe. This should be (1373, 13)

...

In [ ]:
# TODO: Print the average purchase size of promo code users dataframe. This should be 50.06747998236351

...

In [ ]:
# TODO: Print the shape of the non promo code users dataframe. This should be (1785, 13)

...

In [ ]:
# TODO: Print the average purchase size of non promo code users dataframe. This should be 30.155750765104113

...

Formulate a null hypothesis regarding the dollar amount spent between promo-code users & non-promo-code users

Answer here

Formulate an alternative hypothesis regarding the dollar amount spent between promo-code users & non-promo-code users

Answer here

In [ ]:
# TODO: Using the "ttest_ind" method from "scipy.stats", run a T-Test between the dollar amount spent of promo-code users and non promo-code users
# The t-statistic you should observe is 93.2464714350831
# Documentation: https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.ttest_ind.html

...

In [ ]:
# TODO: Group your dataframe according to the "Review Rating" column. This should produce two groups for the values "Missing" & "Present"
# Save this grouped dataframe into a new variable named "g_review"
# Documentation: https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.groupby.html

...

In [ ]:
# TODO: Print out the keys of this dataframe for validation. This should output "dict_keys(['Missing', 'Present'])"
# Documentation: https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.keys.html

...

In [ ]:
# TODO: calculate the average of the "Purchase Amount (USD)", "Age", and "Previous Purchases" columns in our grouped dataframe
# output the values for display
# Documentation: https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.mean.html
# Documentation: https://pandas.pydata.org/docs/getting_started/intro_tutorials/03_subset_data.html

...

In [ ]:
# TODO: Create a new column called "Prev Purchase Group" on your original dataframe which seperates your dataframe into 
# two groups of shoppers based on their "Previous Purchases" column using the "pd.cut" method. 
# Ensure that you are only creating 2 "bins" and label these respective bins as ["Low", "High"]
# Documentation: https://pandas.pydata.org/docs/reference/api/pandas.cut.html

...

In [ ]:
# TODO: Using the "value_counts" function, count how many Missing & Present values are in the "Low" group
# Display this value for analysis 
# Documentation: https://pandas.pydata.org/docs/reference/api/pandas.Series.value_counts.html
# Hint: You will have to use Boolean Indexing

...

In [ ]:
# TODO: Using the "value_counts" function, count how many Missing & Present values are in the "High" group
# Display this value for analysis 
# Documentation: https://pandas.pydata.org/docs/reference/api/pandas.Series.value_counts.html
# Hint: You will have to use Boolean Indexing

...

## Data Analysis II

In the next section, answer the primary analytical questions in your own words.

### Q1

What are the top three colors for Fall & Winter?

In [ ]:
#The top three colors for Fall were; brown, burnt orange, terra cotta. While for Winter were black, burnt orange, and aubergine.

Answer here

### Q2

What are the top three colors for Spring & Summer?

In [ ]:
#The top three colors for Spring are; baby blue, white, and lavender. While for Summer it is; lavender, lemon yellow, and baby blue.

Answer here

### Q3

What is the most popular clothing item by season?

In [ ]:
#The most popular clothing item by season is; 
#Winter: backpack 
#Fall: belt 
#Summer: dress
#Spring: running shoes

Answer here

### Q4

Observing the p-value that we got when running our t-test between promo-code and non-promo-code users, what can we conclude regarding our null hypothesis?

In [ ]:
#The promo code shopper spents more money; compared to the non promo code shopper.

Answer here

### Q5

Observe the `value_counts` output for the "Review Rating" column for both your "High" and "Low" groups. Proportionally speaking, which group is more likely to leave a review? Why might this be happening from the "human"-perspective? Rationalizations are ok at this point, even if they aren't backed up by data.

Answer here

In [ ]:
#The 3 star rating tends to leave a review highlighting both the positive and negative experience.